.hidden {
  visibility: hidden;
}

.pos-fix {
  position: fixed;
}

.gap-10 {
  gap: 10px;
}

.w-25 {
  width: 25%;
}

.w-40 {
  width: 40%;
}

.w-100 {
  width: 100%;
}

.m-l-auto {
  margin-left: auto;
}

.m-r-auto {
  margin-right: auto;
}

.m-t-20 {
  margin-top: 20px;
}

.p-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-x-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.p-x-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.p-y-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
